.image {
    border-radius: 0.5rem;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(var(--base) / 2) var(--base);
    //border: thin solid blue;
  }

  .moviewrapper {
    width: '320px';
    border: 'thin solid purple'; 
    border-radius: '20px'; 
    overflow: 'hidden';
    text-decoration: none;
  }